[Unit]
Description=Collects data from the Aurora inverter
#Documentation=< presented as a url >
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/wrap-aurora
Restart=always
RuntimeDirectory=aurora
RuntimeDirectoryPreserve=yes
# according to (http://bit.ly/2seiymQ), should keep on restarting forever
StartLimitInterval=0
RestartSec=20

[Install]
WantedBy=multi-user.target
